* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 780px;
}

body {
    background-color: #4e4d4d;
}

.card-body {
    background-color: #bfbfbf;
}

.card-title {
    color: #464646;
}

.card-text {
    color: #464646;
}

.stars-gold {
    color: rgb(198, 132, 0);
}